@model FICTFeed.MVC.Models.PageViews.User.LoginUserPageView

@{
    ViewBag.Title = Html.ResourceString("Login");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ResourceString("Login")</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @if (!Model.Valid)
        {
            <span class="validation-summary-errors">@Html.ResourceString("InvalidMailOrPass")</span>
        }
        @Html.EditorFor(m => m.LoginData)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Html.ResourceString("Login")" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
