@model FICTFeed.MVC.Models.PageViews.User.RegisterUserPageView

@{
    ViewBag.Title = Html.ResourceString("Registration");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ResourceString("Registration")</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.NewUser.Name)
                @Html.EditorFor(m => m.NewUser.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.NewUser.Mail)
                @Html.EditorFor(m => m.NewUser.Mail)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.NewUser.Password)
                @Html.EditorFor(m => m.NewUser.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.NewUser.ConfirmPassword)
                @Html.EditorFor(m => m.NewUser.ConfirmPassword)
            </div>
        </div>

        @Html.DropDownListFor(m => m.NewUser.GroupId, Model.NewUser.Groups)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Html.ResourceString("Registration")" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
