@model FICTFeed.MVC.Models.PageViews.User.RestorePasswordPageView
@{
    ViewBag.Title = @Html.ResourceString("ForgotPasswordPage");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.ResourceString("ForgotPasswordPage")</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.UserId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ResourceLabelFor(m => m.NewPass.Password)
            @Html.EditorFor(m => m.NewPass.Password)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ResourceLabelFor(m => m.NewPass.ConfirmPassword)
            @Html.EditorFor(m => m.NewPass.ConfirmPassword)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Html.ResourceString("SendPass2Mail")" class="btn btn-default" />
        </div>
    </div>
}

