@model FICTFeed.Framework.Shedule.Shedule
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<style>
    body{
        font-size: 8pt;
        text-align: center;
    }
</style>
<body>
<div class="table">
    @for (int i = 0; i < Model.Weeks.Count; i++)
    {
        <div class="tr">
            <div class="td">
                Неділя <b>@(i+1)</b>
            </div>
            @for (int q = 0; q < Model.Weeks[i].Days.Count; q++)
            {
                <div class="td" width="120px">
                    @for (int j = 0; j < Model.Weeks[i].Days[q].Lessons.Count; j++)
                    {
                        if (string.IsNullOrWhiteSpace(Model.Weeks[i].Days[q].Lessons[j].Name))
                        {
                            continue;
                        }
                        <div class="lesson">
                            <div>@Html.DisplayFor(m => m.Weeks[i].Days[q].Lessons[j].Name)</div>
                            <div><b>@Html.DisplayFor(m => m.Weeks[i].Days[q].Lessons[j].Room)</b></div>
                            <div><i>@Html.DisplayFor(m => m.Weeks[i].Days[q].Lessons[j].Teacher)</i></div>
                            <div>@Html.DisplayFor(m => m.Weeks[i].Days[q].Lessons[j].Start)<span> - </span>@Html.DisplayFor(m => m.Weeks[i].Days[q].Lessons[j].End)</div>
                        </div>
                        <hr />
                    }
                </div>
            }
        </div>
    }
</div>

</body>
</html>
