
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <nav class="admin-nav white">
        <ul id="slide-out" class="  inline-list">
            <li class="bold grey-text">
                @Html.RouteLink(@Html.ResourceString("AllUsers"), "GetUsers")
            </li>
            <li class="bold grey-text">
                @Html.RouteLink(@Html.ResourceString("AllGroups"), "GetGroups")
            </li>
            <li class="bold grey-text">
                @Html.RouteLink(@Html.ResourceString("AllNews"), "GetNews")
            </li>
        </ul>
    </nav>
    <div class="content">
        @RenderBody()
    </div>
    
</div>

@RenderSection("scripts", required: false)
