@using FICTFeed.Framework.Strings
@{ 
    var UserData = new FICTFeed.Framework.Users.UserDataContainer();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - @Html.ResourceString("SiteTitle")</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/materialize/css/materialize.css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="primary dark">
        <div id="logo" class="material-icons">dashboard</div>
        <div id="navigation">
            <ul class="inline-list inline-block">
                <li>@Html.ActionLink(Html.ResourceString("Home"), "Index", "Home")</li>
                @if (UserData.IsAuthorized)
                {
                    <li>@Html.RouteLink(Html.ResourceString("Logout"), "LogoutUser")</li>
                }
                else
                {
                    <li>@Html.RouteLink(Html.ResourceString("Login"), "LoginUser")</li>
                    <li>@Html.RouteLink(Html.ResourceString("Registration"), "RegisterUser")</li>
                }
            </ul>
        </div>
        <div id="dropdown-navigation" class="card hidden primary primary-text">
            <ul>
                <li>@Html.ActionLink(Html.ResourceString("Home"), "Index", "Home")</li>
                @if (UserData.IsAuthorized)
                {
                    <li>@Html.RouteLink(Html.ResourceString("Logout"), "LogoutUser")</li>
                }
                else
                {
                    <li>@Html.RouteLink(Html.ResourceString("Login"), "LoginUser")</li>
                    <li>@Html.RouteLink(Html.ResourceString("Registration"), "RegisterUser")</li>
                }
            </ul>
        </div>
        
        <div id="navigation-button" class="primary light material-icons">reorder</div>
        
    </nav>
    <a href="#top"><div id="jumpup" class="primary light">Угору</div></a>
    <div id="content">      
        <div id="sidebar" class="primary light primary-text">
                @if (UserData.IsAuthorized && UserData.CurrentUser != null)
                {
                    <div class="border-divider">
                        <h3>UserData</h3>
                        <ul>
                            <li>Id: @UserData.CurrentUser.Id</li>
                            <li>Mail: @UserData.CurrentUser.Mail</li>
                            <li>Name: @UserData.CurrentUser.Name</li>
                            <li>PasswordCrypted: @UserData.CurrentUser.PasswordCrypted</li>
                            <li>Role: @UserData.CurrentUser.Role</li>
                        </ul>
                    </div>
                    <div>
                        @{Html.RenderPartial("ScheduleForToday", UserData.CurrentUser);}
                    </div>
                }
                <div>
                    @{
                        Html.RenderPartial("NewestNewsPartial", new FICTFeed.MVC.Models.PageViews.BasePageView());
                    }
                </div>
        </div>
        <div id="main">
            
            <div id="body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/site.js")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>

