@using FICTFeed.Framework.Strings
@{ 
    var UserData = new FICTFeed.Framework.Users.UserDataContainer(Request);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/materialize/css/materialize.css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="primary dark">
        <div id="logo">LOGO</div>
        <div id="navigation">
            <ul class="inline-list inline-block">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (UserData.IsAuthorized)
                {
                    <li>@Html.RouteLink("Log out", "LogoutUser")</li>
                }
                else
                {
                    <li>@Html.RouteLink("Log in", "LoginUser")</li>
                    <li>@Html.RouteLink("Registration", "RegisterUser")</li>
                }
            </ul>
        </div>
        <div id="search">
            <form>
                <input type="search" class="input-search" />
                <input type="submit" class="btn-flat" />
            </form>
        </div>
        <div id="dropdown-navigation" class="hidden primary primary-text">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (UserData.IsAuthorized)
                {
                    <li>@Html.RouteLink("Log out", "LogoutUser")</li>
                }
                else
                {
                    <li>@Html.RouteLink("Log in", "LoginUser")</li>
                    <li>@Html.RouteLink("Registration", "RegisterUser")</li>
                }
            </ul>
        </div>
        
        <div id="navigation-button" class="primary light"></div>
        
    </nav>
    <a href="#top"><div id="jumpup" class="primary light"></div></a>
    <div id="content">      
        <div id="sidebar" class="primary light primary-text">
                @if (UserData.IsAuthorized)
                {
                    <div class="border-divider">
                        <h3>UserData</h3>
                        <ul>
                            <li>Id: @UserData.CurrentUser.Id</li>
                            <li>Mail: @UserData.CurrentUser.Mail</li>
                            <li>Name: @UserData.CurrentUser.Name</li>
                            <li>PasswordCrypted: @UserData.CurrentUser.PasswordCrypted</li>
                            <li>Role: @UserData.CurrentUser.Role</li>
                        </ul>
                    </div>
                }
                <div>
                    <h3>Most commented</h3>
                    <ul>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                    </ul>
                </div>
        </div>
        <div id="main">
            
            <div id="body">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/site.js")
    @Scripts.Render("~/Scripts/materialize/materialize.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>

