@using FICTFeed.Framework.Strings
@{ 
    var UserData = new FICTFeed.Framework.Users.UserDataContainer(Request);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="content">
        <header class="primary dark">
            <div id="navigation-button" class="primary light">
                <img src="~/Content/Images/accordion-btn.png" alt="Alternate Text" />
            </div>
            <div id="search">
                <form>
                    <input class="input-search" />
                    <input type="submit" class="btn btn-material btn-flat" />
                </form>
            </div>
            <div id="dropdown-navigation" class="hidden primary primary-text">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.Cookies.AllKeys.Contains(CookiesNames.LoginCookie))
                    {
                        <li>@Html.RouteLink("Log out", "LogoutUser")</li>
                    }
                    else
                    {
                        <li>@Html.RouteLink("Log in", "LoginUser")</li>
                        <li>@Html.RouteLink("Registration", "RegisterUser")</li>
                    }
                </ul>
            </div>
            <div id="logo">
                <img src="/content/images/logo.png">
            </div>
            <div id="navigation">
                <ul class="list-inline inline-block">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.Cookies.AllKeys.Contains(CookiesNames.LoginCookie))
                    {
                        <li>@Html.RouteLink("Log out", "LogoutUser")</li>
                    }
                    else
                    {
                        <li>@Html.RouteLink("Log in", "LoginUser")</li>
                        <li>@Html.RouteLink("Registration", "RegisterUser")</li>
                    }
                </ul>
            </div>       
        </header>
        <div id="sidebar" class="primary light primary-text">
                @if (UserData.IsAuthorized)
                {
                    <div class="border-divider">
                        <h3>UserData</h3>
                        <ul>
                            <li>Id: @UserData.CurrentUser.Id</li>
                            <li>Mail: @UserData.CurrentUser.Mail</li>
                            <li>Name: @UserData.CurrentUser.Name</li>
                            <li>PasswordCrypted: @UserData.CurrentUser.PasswordCrypted</li>
                            <li>Role: @UserData.CurrentUser.Role</li>
                        </ul>
                    </div>
                }
                <div>
                    <h3>Most commented</h3>
                    <ul>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                        <li>blablabla</li>
                    </ul>
                </div>
        </div>
        <div id="main">
            <a href="#top"><div id="jumpup" class="primary light"></div></a>
            <div id="body">
                @RenderBody();
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/site.js")
    @RenderSection("scripts", required: false)
</body>
</html>

