@model FICTFeed.MVC.Models.PageViews.News.NewsListPageView
@{
    ViewBag.Title = "Home";
}
<div class="home-content">

    
    <ul class="news-list">
        @if (Model.UserData.IsAuthorized)
        {
            if (Model.UserData.CurrentUser.Role == FICTFeed.Bussines.AdditionalData.Roles.Admin)
            {
                <li>
                    <a href="@Url.RouteUrl("NewsCreate")">
                        <div id="add-news" class="btn btn-raised">Add news</div>
                    </a>
                </li>
                
            }
        }
        @foreach (var item in Model.News)
        {
            <li class="primary light secondary-text">
                <div class="posting-date">@item.PostingDate.ToShortDateString()</div>
                <h3><a class="read-more secondary-text" href="@Url.RouteUrl("NewsItem")?id=@item.Id">@item.Title</a></h3>
                <p>@item.ShortDescription</p>
                <p><a class="read-more secondary-text" href="@Url.RouteUrl("NewsItem")?id=@item.Id">Read more</a></p>       
            </li>
        }
    </ul>
</div>
