@model FICTFeed.MVC.Models.PageViews.News.NewsListPageView
@{
    ViewBag.Title = Html.ResourceString("Home");
}
<div class="home-content">

    
    <ul class="news-list">
        @if (Model.UserData.IsAuthorized && Model.UserData.CurrentUser != null)
        {
            if (Model.UserData.CurrentUser.Role != FICTFeed.Bussines.AdditionalData.Roles.User)
            {
                <li>
                    <a href="@Url.RouteUrl("NewsCreate")">
                        <div id="add-news" class="btn">@Html.ResourceString("AddNewsItem")</div>
                    </a>
                </li>
                
            }
        }
        @foreach (var item in Model.News)
        {
            <li class="primary light secondary-text">
                <div class="card hoverable">
                    <div class="card-image">
                        <div class="posting-date">@item.PostingDate.ToShortDateString()</div>
                        <h3><a class="read-more secondary-text" href="@Url.RouteUrl("NewsItem")?id=@item.Id">@item.Title</a></h3>
                    </div>
                    <div class="card-content">
                        <p>@item.ShortDescription</p>
                    </div>
                    <div class="card-action">
                        <a class="read-more secondary-text" href="@Url.RouteUrl("NewsItem")?id=@item.Id">@Html.ResourceString("ReadMore")</a>
                    </div>
                </div>     
            </li>
        }
    </ul>
</div>
