@model FICTFeed.MVC.Models.PageViews.Groups.GroupEditPageView

@{
    ViewBag.Title = Html.ResourceString("EditGroup");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ResourceString("EditGroup")</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(m => m.Group.Id)
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.Group.Name)
                @Html.EditorFor(m => m.Group.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ResourceLabelFor(m => m.Group.GroupSchedule)
                @Html.EditorFor(m => m.Group.GroupSchedule)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Html.ResourceString("Save")" class="btn btn-default" />
            </div>
        </div>
    </div>
}
