@model FICTFeed.MVC.Models.PageViews.Groups.EditGroupsPageView
@{
    ViewBag.Title = Html.ResourceString("Groups");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ResourceString("Groups")</h2>

@if (Model != null)
{
    foreach (var item in Model.Groups)
    {
        <div class="custom-card small z-depth-2">
            <div class="card-content">
                <h5 class="card-title grey-text">@Html.DisplayFor(m => item.Name)</h5>
                <p>
                    <h6 class="spoiler-link blue-grey-text">@Html.ResourceString("Users")</h6>
                    <ul class="spoiler-body">
                        @if (Model.Users[item.Id] != null)
                        {
                            foreach (var user in Model.Users[item.Id])
                            {
                                <li>[@Html.ResourceString(user.Role.ToString())] @user.Name : @user.Mail</li>
                            }
                        }
                    </ul>
                </p>
            </div>
            <hr />
            <div class="card-action">
                @Html.RouteLink(Html.ResourceString("Edit"), "EditGroup", new { id = item.Id }, new { @class = "btn-flat" })
            </div>                
        </div>
    }
    <a href="@Url.RouteUrl("CreateGroup")">
        <div id="add-news" class="btn">@Html.ResourceString("CreateGroup")</div>
    </a>
}