@model FICTFeed.MVC.Models.PageViews.Groups.EditGroupsPageView
@{
    ViewBag.Title = Html.ResourceString("Groups");
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@Html.ResourceString("Groups")</h2>

@if (Model != null)
{
    foreach (var item in Model.Groups)
    {
        <div class="custom-card small z-depth-2">
            <div class="card-content">
                <h5 class="card-title grey-text">@Html.DisplayFor(m => item.Name)</h5>
                <p>
                    There will be detailed info.
                </p>
            </div>
            <hr />
            <div class="card-action">
                @Html.RouteLink(Html.ResourceString("Edit"), "EditGroup", new { id = item.Id }, new { @class = "btn-flat" })
                @if(item.Name != "Global")
                {
                    <a href="#" class="btn-flat btn-danger js-group-delete" data-confirmation-msg="@Html.ResourceString("DeleteConfirmation").FormatWith(item.Name)" data-confirmation="@item.Name" data-confirmation-id="@item.Id">@Html.ResourceString("Delete")</a>
                }
            </div>                
        </div>
    }
    <a href="@Url.RouteUrl("CreateGroup")">
        <div id="add-news" class="btn">@Html.ResourceString("CreateGroup")</div>
    </a>
}