@model FICTFeed.MVC.Models.PageViews.User.EditUserPageView
@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>

@if (Model != null)
{
    foreach (var item in Model.Users)
    {
        <div class="custom-card small z-depth-2">
            <div class="card-content">
                <span class="card-title grey-text">@Html.DisplayFor(m => item.Name)</span>
                <p>
                    <ul>
                        <li>Mail: @Html.DisplayFor(m => item.Mail)</li>
                        <li>Current role: @Html.DisplayFor(m => item.Role)</li>
                    </ul>
                    
                    <div class="default-input-width">
                        @Html.EditorFor(m => item.Role)
                    </div>
                </p>
            </div>
            <div class="card-action">
                <a href="@Url.RouteUrl("EditUserRole", new { id = item.Id })" class="btn-flat grey-text">Save</a>
            </div>
        </div>
        //@Html.RouteLink("Edit", "Edit", new { id = item.User.Id })
    }
}
